---
layout: default
title: iOS Dev Directory
---

<div class="introduction">
  <h1>The iOS Dev Directory is a comprehensive list of blogs &amp; sites covering iOS development.</h1>
  <h2>Whether it's about coding, design, marketing or anything in between, if a blog or site is related to iOS development it should be listed here.</h2>
</div>

<p>This site was built and is maintained by <a href="https://twitter.com/daveverwer">Dave Verwer</a>, author of <a href="https://iosdevweekly.com">iOS Dev Weekly</a>.</p>
<p>The directory is organised by language, and categorised. Jump to any of the categories below:</p>

<ul>
{% for language in site.data.content %}
  <li>
    <a href="#{{ language.language }}">{{ language.title }}</a>
    <ul>
    {% for category in language.categories %}
      <li><a href="#{{ category.slug }}-{{ language.language }}">{{ category.title }}</a></li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

<div class="sponsored">
  {% sponsored_link %}
  <small>Sponsored link</small>
</div>

<div class="sites">
{% for language in site.data.content %}
  <div class="language-header">
    <h1 id="{{ language.language }}">{{ language.title }}</h1>
  </div>
  <div class="language" lang="{{ language.language}}">
    {% for category in language.categories %}
    <div class="category-header">
      <h2 id="{{ category.slug }}-{{ language.language }}">{{ category.title }}</h2>
      <span class="opml"><a href="/opml/{{ language.language }}/{{ category.slug }}.opml">OPML</a></span>
    </div>
    <p>{{ category.description }}</p>
    <ul>
    {% for site in category.sites %}
      <li>
        <a href="{{ site.site_url }}">{{ site.title }}</a>
        {% if site.twitter_url %}<a href="{{ site.twitter_url }}"><i class="fab fa-twitter fa-xs"></i></a>{% endif %}
        {% if site.weibo_url %}<a href="{{ site.weibo_url }}"><i class="fab fa-weibo fa-xs"></i></a>{% endif %}
        <a href="{{ site.feed_url }}"><i class="fas fa-rss fa-xs"></i></a>
        <div class="author">By {{ site.author }}</div>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
  </div>
{% endfor %}
</div>
